<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to FamFood</title>


  </head>
  <body>
    <div id="message">
      <h2>Select your type:</h2>
      <button type="button" id="admin" class="btn btn-success"    value="Admin" onClick="window.location='admin_login';">Admin</button>
      <button type="button" id="normal" class="btn btn-success"   value="Normal User" onClick="window.location='normal_login';">Normal User</button>

    </div>
  </body>
</html>
